<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Portfolio Trading by <span  class="text-info">Sanjay Puri</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/newportfolio">Add new Portfolio</a></li>
            <li><a class="dropdown-item" href="/selectportfolio">Select Portfolio</a></li>
            <li><a class="dropdown-item" href="/showportfolio">Show Portfolio</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transactions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/buy">Record Purchase</a></li>
            <li><a class="dropdown-item" href="/selllist">Record Sale</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/buyregister">Purchase Register</a></li>
            <li><a class="dropdown-item" href="/sellregister">Sale Register</a></li>
            <li><a class="dropdown-item" href="/liquidity">Liquidity</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/earnings">Yearly Earning</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/shareslist">List of Shares</a>
        </li>
      </ul>
      <div class="d-flex">
        <% if(!userData) { %>
          <span class="text-light me-3">No Portfolio Selected</span>
          <% } else { %>
            <span class="text-light me-3">Portfolio: <%= userData.name %></span>
        <% } %>
      </div>
    </div>
  </div>
</nav>